.button {
  font-family: 'Avenir LT Std';
  font-size: 17px;
  background-color: #5588e6;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
}

button:disabled,
button[disabled] {
  background-color: grey;
}

.full-width {
  width: 100%;
}
