.loading {
  background-image: url("/assets/images/loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 200px; 
  margin: 0 auto;
}
