<div class="container page-top">
  <div class="row c-page-title">
    <div class="col-12 p-t-10 p-b-6">
      <div class="section-title">
        <span class="icon user"></span>
        <span>Digi Track</span>
      </div>
    </div>
    <div class="solid mt-4 mb-4"></div>
  </div>

  <div class="row justify-center p-b-20">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12">
      <span class="c-about__description">
        DigiTrack is where you control and track your physical item (phygital) via our
        platform. <br /><br />
        You can choose for it to be stored at DigiSafe or you can sell it
        or auction it on our platform at a later date, maybe when the card
        appreciates? You may also send it in for grading, and while the grade is pending, the NFT can be traded.
        Totally up to you! All in a decentralized manner.

        <br /><br />


        Simply login with your wallet that your NFT is stored on and
        access your physical collection online!
      </span>
      <br /><br />
        <b>Once you sell your
        physical card on Digible you must send it to a DigiSafe for authentication and storage
        permitting a new owner to redeem it if they chose to receive the physical version. If you sell the card outside
        of Digible, it is your responsibility to burn the digi NFT to prevent double selling
        issues. </b>
   
      <br /><br />

      All DigiSafes are verified and insured, and go through an annual recertification process to ensure their insurance
      is current.
      The DigiSafe's wallet is recorded on the blockchain using DigiTrack smart contract.
      DigiSafes are also collectors and have their profile pages listed in the verified collector's page. If it is an
      approved Digisafe, it will have a DigiSafe icon to identify their status.
      <img src="/assets/images/nav/safe.svg" width=20px height=20px;>
      <br /><br />
      <div class="section-title">
      DigiTrack provides the following statuses for phygitals (physcially backed items):
      </div>
      <br /><br />

      <b>Digisafe - Redemption Ready: </b> Item is authenticated and in an authorized digisafe and ready to be redeemed. Upon request, the DigiSafe will send the card to you and the NFT will be burned. The option to redeem is available on the "owner's actions" part of your NFT page. As a seller, you may claim your sale revenue immediatelly.
      <br /><br />
      <b>Digisafe - Pending Grade:</b> Item is authenticated and has been sent to a grading service, such as PSA, Beckett, CGC, etc. While the grade is pending, the NFT can be freely traded but only available for physical redemption once it comes back from the grading company. As a seller, you may claim your sale revenue immediatelly.
      <br /><br />
      <b>Digi Authentication Pending:</b> Item has not yet been received by the DigiSafe or it is not authenticated yet. If the Digisafe does not receive the item or it deems it inauthentic, the transaction is reverted and the buyer receives a full refund. As a seller, you may only claim the sales revenue once the DigiSafe receives, authenticates, and updates the status.
      <br /><br />     
      <b>Rejected:</b> Item has been rejected by the DigiSafe. Buyer is refunded. Seller cannot claim revenue, and may be subject to sanctions.
      <br /><br />
      <b>Redeemed:</b> Item has been redeemed and the NFT has been burned. It may not be traded anymore. A new NFT will be issued should this card enter the Digible ecosystem again.
      <br /><br />

      
      







      <!-- <form>
          <br /><br />

          <div class="form-group">
            <label for="isDigisafe">To check if a wallet is an authorized DigiSafe, enter the address below</label>
            <input type="text" class="form-control" id="isDigisafe" aria-describedby="textHelp" placeholder="Enter wallet address">
            <small id="textHelp" class="form-text text-muted">Addresses begin with 0x.</small>
          </div>
          
          <button type="submit" class="btn btn-primary" onClick = "checkDigisafeStatus()">Check DigiSafe Status</button>
        </form> -->
    </div>
  </div>
</div>